# latex related files
*.log
*.toc
*.synctex.gz
*.snm
*.nav
*.out
*.fdb_latexmk
*.fls
*.aux
*.bbl
*.pdf
*.bcf
*.blg
*.glg
*.glo
*.gls
*.ist
*.run.xml

# python related files
*.pyc

# some other files
*.docx
*.mp4
*.xlsx
*.zip
*.cdxml

# some particular data files
example.txt

# some particular folders
*Electromagnetism_I/Project/