# latex related files
*.log
*.toc
*.synctex.gz
*.snm
*.nav
*.out
*.fdb_latexmk
*.fls
*.aux

# python related files
*.pyc

# some other files
*.docx
*.mp4
*.xlsx

# some particular data files
example.txt